* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* div, span{
    border: 1px solid blue;
} */

body {
    background-color: #a1a1a1;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div {
    border-radius: 20px;
    width: 380px;
    height: 60%;
    background-color: #1C1C1C;
}

.screen-area {
    padding-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

#screen {
    border-radius: 20px;
    background-color: #505050;
    width: 85%;
    height: 70%;
}

#small-num-area {
    height: 30%;
}

#big-num-area {
    height: 70%;
}

.numbers-area {
    height: 70%;
}

#cd-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    padding-bottom: 16px;
}

.cd-btn {
    border-radius: 12px;
    background-color: #D4D4D2;
    font-size: 24px;
    text-align: center;
    padding: 12px 32px;
}

#numbers-grid {
    padding: 0px 24px 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
    height: 75%;
}

#zero-div {
    grid-column: span 2;
}

#equal {
    grid-column: span 4;
}

#numbers-grid button {
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.num-btn {
    background-color: #505050;
}

.operator-btn {
    background-color: #FF9500;
}